.footer {
    background-color: #2f303a;
       margin-left: auto;
   margin-right: auto;
    
    .container-logo-soc {
      
      justify-content: space-between;
    }
    > .container {
     text-align: center;
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
     padding-bottom: 60px;
     align-items: center;
     justify-content: space-around;
                 }

        @media screen and (min-width: 480px) {
 
                  }
    @media screen and (min-width: 768px) {
      .container {
        justify-content: space-around;
        align-items: center;
      }
    
     .address {
      margin-bottom: 0;
     }
     .list-address {
      gap: 12px;
     }
     .container-logo-soc {
      justify-content: space-around;
      display: flex;
      gap: 165px;
      margin-bottom: 60px;
               }
     .logo-footer {
    font-size: 24px;
   
   }
   .mail-input {
    width: 450px;
    height: 50px;
   }
   .group-subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
   }
   .subscribe {
    width: 200px;
    height: 50px;
    margin-top: 0;
     display: inline-flex;
    justify-content: center;
    gap: 10px;
    transform: translateX(70%);
   }
              }
         
    @media screen and (min-width: 1200px) {
    
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;
      align-items: normal;
    }
    .group-subscribe {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 12px;
      flex-direction: row;
     }
     .subscribe {
      transform: translateX(-5%);
     }
      .container-logo-soc {
        justify-content: space-between;
        display: flex;
        gap: 94px;
        margin: 0;
                    }
      .mail-input {
        width: 358px;
        height: 50px;
       } 
    
             }
  &__title-soc {
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
  }
  &__soc-list {
      gap: 10px;
      justify-content: center;
      padding-bottom: 60px;
    }
    &__soc-item {
      width: 44px;
      height: 44px;
    }
    &__soc-link {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: var(--main-title-color);
      transition-timing-function: var(--timing-function);
      transition-delay: 250ms;
      transition-property: background-color;
    }
    &__soc-link:hover,
    &__soc-link:focus {
      background-color: var(--accent-color);
    }
    &__soc-list {
      margin: 0;
    }
  }
    .mail-input {
     width: 100%;
     height: 50px;
     border-radius: 4px;
     background-color:  #2F303A;
     color:rgba(255, 255, 255, 0.6);
     font-size: 16px;
      padding: 16px;
    }
   .icon-subscribe {
     fill: var(--main-title-color);
      }
   
  .title-mail {
    color: var(--main-title-color);
   }
   
 