.header {
    border: 1px solid #ececec;
      
  /*menu header desk*/

  &__navigation {
    display: flex;
    align-items: center;
  
      }
  &__nav {
       text-align: center;
       display: none;
  }
  &__contact {
    gap: 50px;
   text-align: center;
    display: none;
 }
 .mob-mail-icon, .mob-tel-icon {
  display: none;
 }

  @media screen and (min-width: 768px) {  &__nav {
    display:flex;
    gap: 50px;
  .logo_header {
    margin-right: 88px;
  }
  }

  &__contact {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    justify-content: center;

      }
  .button-menu-open {
    display: none;
  }
        }
   @media screen and (min-width: 1200px) {  &__nav {
          gap: 50px;
          display:flex;
        }
                &__contact {
          display:flex;
          font-size: 14px;
          flex-direction: row;
          gap: 30px;
        }
        .button-menu-open {
          display: none;
        }
              }

  &__nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--body-title-color);
    min-width: 45px;
    min-height: 16px;
    padding: 32px 0;
     display: block;
    position: relative;
    transition-property: color;
    transition-timing-function: var(--timing-function);
    transition-delay: 250ms;
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
      }
  
  
  &__nav-link:hover,
  &__nav-link:focus,
  &__contact-mail:hover,
  &__contact-mail:focus,
  &__contact-tel:hover,
  &__contact-tel:focus {
  color: var(--accent-color);
}


&__studio::after,
&__portfolio::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  height: 4px;
  width: 100%;
  bottom: 0;
  border-radius: 2px;
  background: var(--accent-color);
}

&__contact-mail,
&__contact-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  display: inline-block;
  transition-timing-function: var(--timing-function);
  transition-delay: 250ms;
  transition-property: fill;
}
&__contact &__contact-mail {
  display: flex;
  gap: 10px;
}

&__mail-icon {
    transition-timing-function: var(--timing-function);
    transition-delay: 250ms;
    transition-property: fill;
  }
  &__contact-mail:hover .header__mail-icon {
    fill: var(--accent-color);
  }
  &__contact .header__contact-tel {
    display: flex;
    gap: 10px;
  }
  &__tel-icon {
    transition-timing-function: var(--timing-function);
    transition-delay: 250ms;
    transition-property: fill;
  }
  &__contact-tel:hover &__tel-icon {
    fill: var(--accent-color);
  }
  &__studio {
    color: var(--accent-color);
    position: relative;
  }
  
  &__portfolio {
    color: var(--accent-color);
    position: relative;
  }


}
 /*mobile menu*/
 .mob-menu {
width: 100vw;
height: 100vh;
top: 0;
background-color: var(--main-title-color);
position: fixed;
z-index: 1;
padding-top: 48px;
padding-bottom: 48px;


> .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .mob-contact-tel {
  font-size: 34px;
 }
 .mob-soc-link {
  font-size: 18px;
 }
 }
 @media screen and (min-width: 768px) {
 display: none;}
}
.mob-nav-list {
  margin-left: 25px;
}
.mob-nav-list:not(:last-child) {
margin-bottom: 32px;
}
.mob-nav-link {
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #212121;

}

 .mob-contact-list {
   margin-bottom: 32px;
   margin-left: 25px;
 }
.mob-contact-tel {
font-size: 27px;
line-height: calc(40/34);
letter-spacing: 0.02em;
color: #2196F3;
}
.mob-studio {
  color: #2196F3;
}
.mob-contact-mail {
font-size: 24px;
line-height: calc(28/24);
letter-spacing: 0.02em;
color: #757575;
margin-left: 25px;
} 
.button-menu-open {
  margin-left: auto;
  background-color: var(--main-title-color);
  border: var(--main-title-color);
 
  .icon-menu-open {
    background-color: var(--main-title-color);
    border: var(--main-title-color);
      }
}
.button-menu-close {
  margin-left: auto;
  display: block;
   background-color: var(--main-title-color);
  border: var(--main-title-color);
  .icon-menu-close:focus {
   fill: var(--accent-color);
   
  }
  .icon-menu-close {
    background-color: var(--main-title-color);
    border: var(--main-title-color);
      }
}
 
    .mob-soc-link {
    font-size: 12px;
    line-height: calc(22/18);
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mob-soc-list {
    margin-left: 25px;
    gap: 20px;
  }
  
   .mob-soc-link::after {
    content: " "; 
    width: 1px;
    height: 22px;
    position: absolute;
    background-color:  rgba(33, 33, 33, 0.2);
    transform: translateX(10px);
   } 
   
   