.hero {
    text-align: center;
    background-color: #2f303a;
    color: var(--main-title-color);
    padding: 118px 0;
    /*overlay*/
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background: #c4c4c4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--gradient),
      url(../images/hero-mob.jpg);

      @include retina {
    background-image: var(--gradient),
    url(../images/hero-mob-2x.jpg);
  }
      @media screen and (min-width: 480px) {
       padding: 118px 60px;
            }
       @media screen and (min-width: 768px) {
        padding: 118px 204px;
        transform: translateY(-1px);
        background-image: var(--gradient), url(../images/hero-tab.jpg);
        @include retina {
          background-image: var(--gradient),
          url(../images/hero-tab-2x.jpg);
        }
      }

        @media screen and (min-width: 1200px) {
          padding: 200px 200px;
          background-image: var(--gradient),
          url(../images/overlay.jpg);
         @include retina {
          background-image: var(--gradient),
          url(../images/hero-desk-2x.jpg);
        }
                                        }
        @media screen and (min-width: 1600px) {
                          padding: 200px 452px;
                                    }
      .container {
    @media screen and (min-width: 480px) {
      max-width: 360px;
      height: 84px;
                             }
     @media screen and (min-width: 768px) {
      max-width: 360px;
      height: 84px;
     
              }
      @media screen and (min-width: 1200px) {
        max-width: 696px;
        height: 120px;
                            }                      

      }
     
   
 &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 480px) {
     font-size: 26px;
            }
     @media screen and (min-width: 768px) {
       font-size: 26px;
             }
    @media screen and (min-width: 1200px) {
     font-size: 44px;
     line-height: 1.36;
                    }    
                     }
    margin: 0 auto;
     margin-left: auto;
    margin-right: auto;
  }
  