.work {
    /*padding-bottom: 0;*/
  
  &-title {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    
   
    &-text {
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--body-text-color);
      width: 270px;
    }
    &-list {
      height: auto;
    width: 100%;
 
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
            }
     @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
                    }
            }
       &-group-link {
      height: 120px;
      background: #f5f4fa;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: var(--main-title-color);
    }
    &-about {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }
  }
 