.logo-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--body-title-color);
  }
  .logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
  }
  .logo-blue {
    color: #2196f3;
  }
  