.modal {
    padding: 40px;
    width: 450px;
    min-height: 609px;
    background-color: var(--main-title-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media screen and (min-width: 480px) {
         .check-text {
        font-size: 12px;
      }
          }
    @media screen and (min-width: 1200px) {
     width: 528px;
    min-height: 581px;
    }
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
  .modal__close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .modal__close-icon {
    transition-timing-function: var(--timing-function);
    transition-delay: 250ms;
    transition-property: fill;
  }
  .modal__close-icon:hover, .modal__close-icon:focus {
    fill: var(--accent-color);
  }
  .modal__icon {
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 15px;
    transform: translateY(50%);
     transition-property: fill;
    transition-timing-function: var(--timing-function);
    transition-delay: 250ms;
  }
  .modal__send {
    display: flex;
    position: absolute;
   justify-content: center;
   align-items: center;
   background-color: var(--accent-color);
   width: 200px;
   height: 50px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: var(--main-title-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   transform: translateX(50%);
    }
   