body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--body-title-color);
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .container {
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   @media screen and (min-width: 480px) {
  width: 480px;
    }
    @media screen and (min-width: 768px) {
   width: 768px;
    }
    @media screen and (min-width: 1200px) {
  width: 1200px;
    }
  }

